.Materials-section {
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
}

.Materials-section h2 {
    font-size: 28px;
    color: #333333;
}

.Materials-section p {
    font-size: 16px;
    color: #666666;
    line-height: 1.6;
}

.Materials-section ol {
    text-align: left;
}

.Materials-section li {
    margin-bottom: 10px;
}

.Materials-section img {
    max-width: 70%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}